
/* 共通部分 */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 23px;
}
span {
    display: block;
    font-size: 14px;
    line-height: 17px;
}
.text span {
    margin-bottom: 31px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

/* header */

.header{
    /* メインビジュアルだけ全幅 */
    width: 100vw;
    /* 高さはブラウザの高さにあわせて可変? */
    height: 600px;
    position: relative;
}
.header .main-visual-icon {
    /* 右上にはロゴを配置 */
    position: absolute;
    top: 30px;
    right: 30px;
    /* サイズ */
    width: 120px;
    height: 40px;
}
.logo img {
    /* サイズ */
    width: 120px;
    height: 40px;
}


/* inner */
.inner {
    width: 100%;
    /* コンテンツの最大横幅は1200px */
    max-width: 1200px; 
    /* 横のパディングは5% */
    padding-inline: 5%;
}


.section-text {
    width: 100%;
}

/* magazine */
.section-text span {
    width: 552px;
    margin-inline: auto;
    text-align: center;
}

#magazine .section-pic {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
#magazine .picture  {
    width: 510px;
    height: 510px;
}
.relative-picture {
    position: relative;
}
#magazine .picture #new {
    margin-right: 80px;
}
#magazine .picture #archive {
    margin-left: 80px;
}
.absolute-text {
    /* 画像の上に網掛けのテキストを重ねて配置 */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-pic .text {
    top: 50%;
    background: #70707080 0% 0% no-repeat padding-box;
    color: #fff;
    width: 290px;
}
.section-pic .text h3 {
    margin-top: 15px;
}
#magazine .section-pic .text span {
    margin: 5px 35px 15px 35px;
}


#fashion {
    margin-inline: 4px;
    height: 520px;
    position: relative;
}
#fashion .text {
    top: 120px;
}
#fashion .text > span {
    width: 552px;
    margin-inline: auto;
}

.readmore {
    width: fit-content;
    padding: 17px 36px 15px 37px ;
    border: 1px solid #2A2A2A;
    font-size: 12px;
    line-height: 14px;
    background-color: transparent;
}

#catalogantique {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    width: 100vw;
}

#catalogantique .picture {
    width: 500px;
}

#catalogantique .picture img{
    width: 500px;
    height: 500px;
}
.catalog, .antique {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 60px;
}
.antique {
    margin-top: 120px;
}

#catalogantique .text {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
.readmore span {
    margin: 0;
}

.footer {
    background: #333333 0% 0% no-repeat padding-box;
    color: #fff;
    height: 368px;
    display: flex;
    justify-content: center;
}
.footer  .inner {
    display: flex;
    align-items: center;
    margin-inline: auto;
}

/* 小要素を３等分する */
.footer  .inner > * {
    width: calc(100% / 3);
}
.footer  .inner .logo {
    /* 左よせ */
    text-align: left;
}
.footer  h3 {
    margin-bottom: 14px;
}
.footer-nav {
    height: 73px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}