
/* 共通部分 */
* {
    font-family: Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}
img {
    width: 100%;
    height: 100%;
}
section {
    margin-top: 80px;
}
span {
    display: block;
    font-size: 14px;
    line-height: 17px;
}

/* header */

.header {
    /* メインビジュアルだけ全幅 */
    width: 100vw;
    /* 高さはブラウザの高さにあわせて可変? */
    height: 600px;
    position: relative;
}

.header .main-visual-icon {
    /* 右上にはロゴを配置 */
    position: absolute;
    top: 30px;
    right: 30px;
    width: 120px;
    height: 40px;
}

main {
    /* コンテンツの最大横幅は1200px */
    max-width: 1200px; 
    /* 横のパディングは5% */
    padding-inline: 5%;
    margin: auto;
}


#magazine .section-text {
    width: 573px; 
    text-align: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 41px;
}
#magazine .section-text h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 23px;
}
#magazine .section-pic {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
#magazine .picture  {
    width: 510px;
    height: 510px;
    position: relative;
}
#magazine .section-pic .text {
    /* 画像の上に網掛けのテキストを重ねて配置 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #70707080 0% 0% no-repeat padding-box;
    color: #fff;
    text-align: center;
    width: 290px;
}
#magazine .section-pic .text h3 {
    font: normal normal bold 20px/23px Arial;
    margin-top: 15px;
    margin-bottom: 5px;
}
#magazine .section-pic .text span {
    margin-inline: 35px;
    margin-bottom: 17px; 
    width: 220px;
}
