@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: black;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.content {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

#mainVisual {
    margin-bottom: 80px;
}

#header {
    background-color: aqua;
    max-width: 960px;
    height: 270px;
    display: flex;
    align-items: center;
    padding: 0 4%;
    margin: 0 auto;
    justify-content: space-between;
}

#header nav ul {
    display: flex;
    padding: 10px 0;
}

#header nav ul li {
    font-size: 0.875rem;
    margin-left: 30px;
}
#header nav ul li .icon {
    width: 20px;

}
#header nav ul li:first-child {
    margin-left: 0;
}

#mainVisual {
    width: 100%;
}

#mainVisual img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 45px;
}

#profile {
    max-width: 100%;
}


dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
dd {
    width: 30%;
}
dt {
    width: 70%;
}


#works ul {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works ul li {
    width: 30%;
    margin-bottom: 23px;
}



@media screen and (max-width: 600px) {
    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }
    #header img {
        margin-top: 20px;
    }

}
