@charset "utf-8";

html {
    font-size: 100%;
}
body {
    font-family: "Crimson Text", serif;
    color: #333;
}
img{
    max-width: 100%;
}
a {
    color: #333;
    border: none;
}

@media screen and (max-width: 767px) {
    /* cssの適用範囲:767px以下の画面幅 */
}

#mainVisual{
    width: 90vw;
    margin: 4% auto;
}
#mainVisual img{
    vertical-align: bottom;
}
