@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Crimson Text", serif;
    color: #2d2d2d;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
a {
    color: #2d2d2d;
    text-decoration: none;
}

.site-title {
    width: 110px;
    line-height: 1px;
    /* 自分の右側に余白をつける */
    margin-right: 50px;
}
.site-title a {
    display: block;
}



#mainVisual{
    width: 90vw;
    margin: 4% auto;
}


#header {
    width: 90vw;
    display: flex;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto 30px auto;
}

#header nav ul {
    display: flex;
}
#header nav ul li {
    font-size: 0.875rem;
    margin-left: 30px;
}
#header nav ul li:first-child {
    margin-left: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;
}

.content {
    display: flex;
    align-items: center;
}
.content .image {
    width: 50%;
}
.section-title{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4px;
}
.section-subtitle {
    margin-bottom: 25px;
    display: inline-block;
}
.content .text {
    width: 50%;
    padding: 0 7%;
}
.text p {
    margin-bottom: 25px;
}

#footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 20px;
}
#footer .logo {
    width: 110px;
}
#footer p {

    margin-left: auto;
}
